body {
    margin: 0;
    padding: 0;
}

.content {
    font-family: 'Inter', sans-serif;
}

.main {
    background: #6943FF;
    color: #ffffff;
    padding: 33px 51px;
    text-align: center;
}

h1 {
    font-size: 28px;
    font-weight: 800;
    margin: 0 0 30px 0;
}

input {
    display: block;
    margin: 0 auto 25px auto;
    background-color: #6943FF;
    border: 2px solid #B295FF;
    border-radius: 5px;
    color: #ffffff;
    font-family: Inter;
    font-size: 58px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    width: 115px;
    height: 83px;
}

button {

    display: block;
    margin: 0 auto;
    padding: 10px 28px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #3D3D3D;

}

.results {
    background: #F4F4F4;
    padding: 12px 25px;
}

.result {
    margin: 23px auto;
    padding: 20px 77px;
    text-align: center;
    background-color: #ffffff;
    color: #5A537B;
    max-width: 500px;
}

.result h2 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
}

.result p {
    font-weight: 400;
    font-size: 14px;
}